<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= farm.name %></title>
</head>
<body>
<h1><%= farm.name %></h1>
<ul>
    <li>City: <%= farm.city %></li>
    <li>Email: <%= farm.email %></li>
</ul>
<h2>Products:</h2>
<ul>
    <% for(let product of farm.products) { %>
        <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
    <% } %>
</ul>
<div>
    <a href="/farms/<%= farm._id %>/products/new">Add a product</a>
</div>
<a href="/farms">All Farms</a>
<form action="/farms/<%= farm._id%>?_method=DELETE" method="post">
    <button>Delete</button>
</form>
</body>
</html>